
{% load static %}

<!DOCTYPE html>


    <html lang="en">

        <head>
            <meta charset="utf-8" />
            <meta name="viewport" content="width-device-width, initial-scale=1, maximum-scale=1"/>
            <link rel="stylesheet" type="text/css" href="https://bootswatch.com/5/morph/bootstrap.min.css">
            <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
            <title>LMC | Password Reset Sent</title>

        </head>

        <body>
            <br>
            <div class="container bg-white shadow-md p-5 form-Layout">
                <h3>Password Reset Sent</h3>
                <br>
                <p>We have sent a link to your email address !</p>
                <br>
            </div>
        </body>
    </html>